
<div class="row">
	<div class="col text-center pt-5">
		<a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank">
			<img alt="Porto" class="img-fluid" src="@Url.Content("~/img/blog/blog-ad-3.jpg")" />
		</a>
	</div>
</div>
